/* Resets *
 * ------ */
a:link,
a:visited {
  color: #363339;
}
a:hover {
  color: #5c5761;
}
#content a:link,
dl.portlet a:link,
#content a:visited,
dl.portlet a:visited {
  color: #363339;
  text-decoration: underline;
  border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
  color: #5c5761 !important;
}
footer a:link,
#portal-footer a:link,
#portal-colophon a:link,
#portal-siteactions li a:link,
footer:visited,
#portal-footer:visited,
#portal-colophon:visited,
#portal-siteactions li:visited {
  color: #ececec;
  text-decoration: underline;
}
footer a:hover,
#portal-footer a:hover,
#portal-colophon a:hover,
#portal-siteactions li a:hover {
  color: #c6c6c6;
}
/* HEADER *
 * ------ */
#header-wrapper,
#footer-wrapper {
  background: url('../images/bg-motif-jacq.png') repeat center center;
}
#portal-globalnav {
  margin: 80px 10px 1em 10px;
  background: transparent;
  border-bottom: 1px solid #c2c2c2;
}
#portal-globalnav li a:hover,
#portal-globalnav li.selected a:hover,
#portal-globalnav li a,
#portal-globalnav li.selected a {
  background: transparent;
  color: white;
  border-bottom: 5px solid #000000;
}
#portal-globalnav li a {
  border: none;
  min-width: auto;
  padding: 0.5em 0;
  margin-right: 2em;
  font-weight: bold;
  margin-bottom: -4px;
}
#portal-globalnav li a:hover,
#portal-globalnav li.selected a:hover,
#portal-globalnav li a,
#portal-globalnav li.selected a#portal-searchbox {
  position: relative;
  z-index: 10;
}
#portal-personaltools {
  z-index: 15;
}
#portal-footer {
  padding: 0;
}
#portal-siteactions {
  clear: none;
}
/* THEME */
#portal-logo img {
  /*width: 100%;*/

}
dl.portlet-libertic-context dd,
dl.portlet-libertic-context dd ul {
  display: block;
  width: 100%;
  margin: 0 auto;
}
dl.portlet-libertic-context dd {
  clear: both;
}
dl.portlet-libertic-context dd.portletItem p {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
dl.portlet-libertic-context dd.portletItem {
  padding-bottom: 5px;
  padding-top: 5px;
}
dl.portlet-libertic-context a:hover,
dl.portlet-libertic-context a:link,
dl.portlet-libertic-context a:visited,
dl.portlet-libertic-context a {
  border-bottom: none;
  text-underline: none;
}
dl.portlet-libertic-context dd.add-content ul li,
dl.portlet-libertic-context dd.home ul li,
dl.portlet-libertic-context dd.download ul li {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}
dl.portlet-libertic-context dd.download ul li {
  width: 40px;
}
dl.portlet-libertic-context dd.home ul li {
  width: 70px;
}
dl.portlet-libertic-context dd.add-content ul li {
  text-align: left;
  display: block;
  width: 210px;
  position: relative;
}
dl.portlet-libertic-context dd.add-content ul li p,
dl.portlet-libertic-context dd.add-content ul li img,
dl.portlet-libertic-context dd.add-content ul li a,
dl.portlet-libertic-context dd.add-content ul li {
  height: 40px;
}
dl.portlet-libertic-context dd.add-content ul li img {
  width: 32px;
  height: 32px;
}
dl.portlet-libertic-context dd.add-content ul li p {
  width: 160px;
  position: absolute;
  top: 10px;
  left: 32px;
}
dl.portlet-libertic-context dd.add-content ul li img,
dl.portlet-libertic-context dd.add-content ul li a,
dl.portlet-libertic-context dd.add-content ul li p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
